{% extends "admin/layouts/admin.html" %}
{% block title %}General Info{% endblock %}

{% block right_submenu %}
	<ul>
		<li><a href="http://www.chicagoboss.org">ChicagoBoss Community Home</a></li>
	</ul>
{% endblock %}

{% block content%}

<div id="main-content">
	

	<h1 align="center">Welcome to the Admin Interface</h1>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title"><h2>System Info</h2></div>
		</div>
		<div class="panel-body">
			<ul>
				<li><b>Erlang OTP Release:</b> {{ system_env.otp_release }}</li>
				<li><b>Processors:</b> {{ system_env.processors }}</li>
				<li><b>Up-time:</b> {{ system_env.uptime }}</li>
 	       		<li><b>Node name:</b> {{ system_env.node }}</li>
			</ul>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title"><h2>Applications loaded</h2></div>
		</div>
		<div class="panel-body">
			<ul>
				{% for module in modules_loaded %}
				<li>{{ module }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title"><h2>Application configuration Info</h2></div>
		</div>
		<div class="panel-body">
			<ul>
				{% for envs in config_env %}
				<li>{{ envs }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title"><h2>Connected nodes</h2></div>
		</div>
		<div class="panel-body">
			<ul>
				{% for node in nodes %}
				<li>{{ node }}</li>
				{% empty %}
				<li><em>None</em></li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<p>See the loaded routes <a class="routes" href="{% url controller="routes" action="index" %}">here</a>

</div>
{% endblock %}

