{% extends "admin/layouts/admin.html" %}
{% block title %}Create a language file{% endblock %}




{% block meta_scripts %}
<script type="text/javascript" src="http://www.google.com/jsapi">
</script>
<script type="text/javascript">
    var translated_language_codes = {
        {% if languages %}
        {% for lang in languages %}
        '{{ lang }}' : 1
        {% if not forloop.last %},{% endif %}
        {% endfor %}
        {% endif %}
    };
    google.load("language", 1);
    function initialize() {
        var selectbox = document.getElementById('select_language');
        var langs = new Array();
        for (var lang in google.language.Languages) {
            var code = google.language.Languages[lang];
            if (google.language.isTranslatable(code) && !translated_language_codes[code]) {
                langs.push(lang);
            }
        }
        var sortedLangs = langs.sort();
        for (var i=0; i<sortedLangs.length; i++) {
            var lang = sortedLangs[i];
            var code = google.language.Languages[lang];
            var option = document.createElement('option');
            option.value = code;
			if(document.all){
				option.innerText = lang + ' ('+code.toLowerCase()+')';
			} else {
				option.textContent = lang + ' ('+code.toLowerCase()+')';
			}                        
            selectbox.appendChild(option);
        }
    }
    google.setOnLoadCallback(initialize);
</script>
{% endblock %}
{% block content %}

<div id="main-content">
 
<div class="panel panel-default">
        {% if applications %}
            <p>Applications: 
            {% for app in applications %}
                {% ifequal app this_application %}
                    <strong>{{ app }}</strong>
                {% else %}
                    <a href="{% url action="show" app=app %}">{{ app }}</a>
                {% endifequal %}
            {% endfor %}
            </p>
        {% endif %}
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title"><h1>Create a new language</h1></div>
    </div>
    <div class="panel-body">
        <form method="post" class="form-horizontal">
            <div class="box">
                <div id="issue_descr_fields">
                    <p>
                        <label for="issue_tracker_id">Select the language:<span class="required"> </span></label>
                        <select id="select_language" name="language" style="width: 120px;" class="form-control"></select>
                    </p>
                </div>
            </div>
        <input type="submit" value="Create language file" class="btn btn-primary" />
        </form>
    </div>
</div>  



</div>


{% block left_submenu %}
    {% include "lang/shared/_lang_left_submenu.html" with new_language="true" %}
{% endblock %}


{% endblock %}

